body {
    /* Full-page astronaut background */
    background-image: url('Bilder/astronaut.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Optional: keep your font and layout styling */
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
  color: rgb(0, 255, 94);
}

h2, h3, h4, h5, h6, h7 {
  color: rgb(255, 102, 0);
}

ul, ol {
  margin-left: 20px;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 5px 10px;
}

.insta-button {
  display: inline-block;
  background-image: url('Bilder/insta-logo.jpg');
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  border: none;
  text-decoration: none;
  color: transparent;
  margin-top: 10px;
}


